<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <meta name="viewport" content="width=device-width, inital-scale=1.0" />
  <title>Bite Me Burger</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/sidebar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/choose_order.css" type="text/css" />
  <link rel="stylesheet" href="/styles/topnav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

  <!-- Boxicon Library -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesom Library-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <!-- Fonts Selection -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
</head>

<body>
  <!--Header-->
      <header class="top-nav">
        <nav class style="background-color: #e92667;">
          <!-- Navbar content -->
          <div class="top-navigation">
            <ul class="top-nav-list">
              <li class="list">
                <a href="#">
                  <span class="icon"></span>
                  <div class="profile-icon">
                    <span class="text">Profile</span>
                    <i class="bx bxs-user"></i>
                  </div>
                </a>
              </li>

              <li class="list">
                <a href="/user/checkout">
                  <span class="icon"></span>
                  <div class="my-cart-icon">
                    <span class="my-cart-text">My Cart</span>
                    <i class="bx bxs-cart-download"></i><span>(0)</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      <!-- Navbar content -->
  <div class="container custom-container">
    <div class="main-header-top">
      <img src="https://pic.onlinewebfonts.com/svg/img_485179.png" class="burger-logo" />
      <h2 class="logo-text">Bite Me Burger</h2>
    </div>

    <!--Side Bar-->
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image"></span>
          <div class="text logo-text">
            <img src="https://icons.veryicon.com/png/o/food--drinks/flat-color-restaurant-icon/hamburger-8.png"
              class="sidebar-burger-logo" />
            <span class="name">Menu</span>
          </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links ps-0">
            <li class="nav-link">
              <a href="/">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/user/orders">
                <i class="bx bx-receipt icon"></i>
                <span class="text nav-text">My Order</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-bell icon"></i>
                <span class="text nav-text">Notifications</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="bx bx-customize icon"></i>
                <span class="text nav-text">Setting</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <!--Checkout Page - Order Summary-->
    <div class="heading">
      <h3>checkout</h3>
    </div>

    <section class="checkout">
      <h1 class="title">order summary</h1>
      <form action="" method="post">
        <div class="cart-items">
          <h3><strong><img src="https://icons.veryicon.com/png/o/food--drinks/flat-color-restaurant-icon/hamburger-8.png"
            class="checkout-burger-logo" />In your cart</strong></h3>
          <p><span class="name">BiteMe Burger x 1</span>
            <span class="price">$5</span>
          </p>
          <p>
            <span class="name">BiteMe Combo x 2</span>
            <span class="price">$5</span>
          </p>
          <p>
            <span class="name">Chicken Sandwich x 1</span>
            <span class="price">$5</span>
          </p>
          <p class="grand-total">
            <span class="name">Order Total :</span>
            <span class="price">$15</span>
          </p>
          <a href="cart.html" class="btn">view cart</a>
        </div>

        <div class="user-info">
          <h3>Personal Information</h3>
          <p><i class="fas fa-user"></i> <span>Jeyna Kim</span></p>
          <p><i class="fas fa-phone"></i> <span>647-000-0000</span></p>
          <p>
            <i class="fas fa-envelope"></i> <span>jeyna.kim@gmail.com</span>
          </p>
          <a href="#" class="btn">update info</a>
          <h3>Delivery Address</h3>
          <p class="address">
            <i class="fas fa-map-marker-alt"></i>
            <span>1234 Lighthouselab Ave, Toronto, ON M2N 0A8</span>
          </p>
          <a href="#" class="btn">update address</a>
          <select name="method" class="box" required>
            <option value="" disabled selected>select payment method</option>
            <option value="cash on delivery">cash on delivery</option>
            <option value="credit card">credit card</option>
            <option value="paypal">paypal</option>
          </select>
        </div>
        <input
          type="submit"
          value="place order"
          name="order"
          class="btn order-btn"
        />
      </form>
    </section>
</body>

<script>
  const body = document.querySelector("body"),
    sidebar = body.querySelector(".sidebar"),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");

  toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  });

  searchBtn.addEventListener("click", () => {
    sidebar.classList.remove("close");
  });

  modeSwitch.addEventListener("click", () => {
    body.classList.toggle("dark");

    if (body.classList.contains("dark")) {
      modeText.innerText = "Light mode";
    } else {
      modeText.innerText = "Dark mode";
    }
  });
</script>
</html>
