* {
  font-family: "Crimson Text", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;

}

:root {
  --yellow: #fed330;
  --red: #e74c3c;
  --white: #fff;
  --lightyellow: #f4d35e;
  --light-color: #777;
  --border: 0.2rem solid var(--black);
}

// Heading
.heading {
  background-color: #f4d35e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 80px;
  max-width: 1200px;
  margin: auto;
  border-radius: 15px 50px;
  padding: 20px;
}

.heading h3 {
  font-family: "Gochi Hand", cursive;
  font-size: 4rem;
  color: var(--white);
  text-transform: capitalize;
  margin-top: 17px;
}

.heading p a {
  font-size: 2rem;
  color: var(--yellow);
}

.heading p span {
  font-size: 2rem;
  color: var(--light-color);
}

.heading p a:hover {
  color: var(--white);
}

.title {
  text-align: center;
  font-size: 46px;
  margin-bottom: 3rem;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.mb-3 {
  font-size:25px;
}

.form-select{
  font-size:20px;
}
