section {
  margin-top: 70px;
  width: 1300px;
  border-top: 2px solid black;
}

.footer .box-container {
  display: flex;
  align-items: flex-start;
}

.footer .box-container .box {
  text-align: center;
  padding: 2rem;
  border: black;
}

.footer .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.footer .box-container .box h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: black;
  font-family: 'Indie Flower', cursive;
  white-space: nowrap;
}

.footer .box-container .box a,
.footer .box-container .box p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--light-color);
  display: block;
  white-space: nowrap;
}

.footer .credit {
  background-color: black;
  text-align: center;
  padding: 3rem 2rem;
  font-size: 2rem;
  color: white;
}

.footer .credit span {
  color: yellow;
}
