// Header - Main Top //
.container.custom-container {
  background-color: #fff;
  min-height: 100vh;
  margin-left: 18.5%;
  box-sizing: border-box;
  overflow: hidden;
}

.main-header-top {
  background-color: #ffff;
  width: 90%;
  margin: auto;
  text-align: center;
}

.burger-logo {
  width: 140px;
  cursor: pointer;
  margin: 30px;
  text-align: center;
}

.logo-text {
  font-family: "Gochi Hand", cursive;
  font-size: 98px;
}

.blinking-animation {
  animation-duration: 2.5s;
  animation-name: blinking;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

// Menu Category - Burger, Drinks //
.box2 {
  margin-left: 20%;
}

.category-burger-icon {
  width: 111px;
}

.category-drink-icon {
  width: 111px;
}

.category-btn {
  margin-top: 15px;
  height: 40px;
  width: 98px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15pt;
}

.menu-category-text {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.item_quantity {
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

.card-body {
font-family: "Gochi Hand", cursive;
font-size: 34px;
}

.card {
border: 3.5px solid #333533;
}
