// Header - Main Top //
.container.custom-container {
  background-color: #f8f9fa;
  min-height: 100vh;
  margin-left: 18.5%;
  box-sizing: border-box;
  overflow: hidden;
}

.main-header-top {
  background-color: #ffff;
  width: 90%;
  margin: auto;
  text-align: center;
}

.burger-logo {
  width: 80px;
  cursor: pointer;
  margin: 15px;
  text-align: center;
}

.logo-text {
  font-family: "Gochi Hand", cursive;
}

// Menu Category - Burger, Drinks //
.box2 {
  margin-left: 20%;
}

.category-burger-icon {
  width: 100%;
}

.category-drink-icon {
  width: 50px;
}

.category-btn {
  margin-top: 15px;
  height: 35px;
  width: 75px;
}

.menu-category-text {
  margin-top: 20px;
  font-size: 1.5rem;
}
