.orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

.orders .box-container .box {
  border: black solid 3.5px;
  padding: 1rem 2rem;
  height: 600px;
  margin-bottom: 60px;
}

.orders .box-container .box p {
  font-size: 2rem;
  color: grey;
  line-height: 2;
}

.orders .box-container .box p span {
  color: black;
}

* {
  font-family: "Crimson Text", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

:root {
  --yellow: #fed330;
  --red: #e74c3c;
  --white: #fff;
  --lightyellow: #f4d35e;
  --light-color: #777;
  --border: 0.2rem solid var(--black);
}

.order-heading {
  background-color: #f4d35e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
  margin-top: 50px;
  gap: 1rem;
  flex-flow: column;
  height: 78px;
}

.order-heading h3 {
  font-family: "Gochi Hand", cursive;
  font-size: 60px;
  color: var(--white);
  text-transform: capitalize;
  margin-top: 15px;
}

.order-heading p a {
  font-size: 2rem;
  color: var(--yellow);
}

.order-heading p span {
  font-size: 2rem;
  color: var(--light-color);
}

.order-heading p a:hover {
  color: var(--white);
}


.estimate-time-btn {
  font-size:20px;
  border: 3px solid black;
  width: 242px;
  height: 50px;
}


.estimate-btn {
  margin-left: 255px;
  margin-bottom: 200px;
  margin-top: -27px;
  font-size: 20px;
}

.completed-btn {
  background: #e92667;
  color: white;
  margin-top: 30px;
  margin-left: 183px;
  font-size: 20px;
}

.completed-icon{
  width: 50px;
  width: 68px;
  margin-top: 28px;
  margin-left: 80px;
}
